* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.wrapper {
    background-color: #C0DBD9;
    width: 1200px;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 1200px) { 
    .wrapper {
        width: 100%;
    }
}

header {
    background-color: #7FAFF6;
    width: 100%;
    height: 100px;
    margin: 0 0 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

main {
    width: 100%;
}

/* ============================ POP UP =================== */

.popup_btn {
    margin-left: 30px;
    width: 206px;
    height: 39px;
    background-color: #A5C7F9;

    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    border: none;
    border-radius: 5px;
}

.popup_btn a {
    text-decoration: none;
    color: #fff;
}

.popup_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#popup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000;
}

#popup:target {
    display: block;
}

.popup_wrapper div {
    position: relative;
    background: #E5E5E5;
    width: 400px;
    height: 400px;
    font-family: Roboto;
    font-size: 53px;
    font-weight: 400;
    line-height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup_close {
    position: absolute;
    top: 15px;
    font-size: 20px;
    color: #fff;
    right: 15px;
    width: 43px;
    height: 39px;
    background-color: #7FAFF6;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none; 
    transition: all .3s;
}

.popup_close:hover {
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    transition: all .3s;
}


/* ============================ GREEN BLOCK =================== */

.green {
    background-color: #B3F95A;
    margin: 0 0 15px;
    display: grid;
    grid-template: auto / 32% 51% auto;
    grid-template-areas: 'one two three' 
                        'four four five' ;
}

.green div {
    background-color: #8AD191;
    height: 198px;
    position: relative;
}

.green div:nth-child(1) {
    grid-area: one;
    margin: 0 15px;
}
.green div:nth-child(2) {
    grid-area: two;
    margin-bottom: 15px;
}
.green div:nth-child(3) {
    grid-area: three;
    margin: 0 15px;
}
.green div:nth-child(4) {
    grid-area: four;
    margin-left: 15px;
}
.green div:nth-child(5) {
    grid-area: five;
    margin: 0 15px;
}

.green div:nth-child(1)::after{
    content: '1';
}
.green div:nth-child(2)::after{
    content: '2';
}
.green div:nth-child(3)::after{
    content: '3';
    left: 45%;
}
.green div:nth-child(4)::after{
    content: '4';
}
.green div:nth-child(5)::after{
    content: '5';
    left: 45%;
}

.green div::after{
    position: absolute;
    top: 35%;
    left: 50%;
    color: #fff;
    font-family: Roboto;
    font-size: 53px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: left;
}

/* ============================ BLUE BLOCK =================== */

.blue {
    background-color: #88B5BF;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 0 0 100px;
    padding: 0 15px;
    
}

.blue div {
    background-color: #0D89B0;
    aspect-ratio: 4/3;
    object-fit: contain;
    margin: 30px 15px 30px 15px;
}

/* ============================ FOOTER =================== */

footer {
    background-color: #7FAFF6;
    width: 100%;
    height: 100px;
}